
body {
  font-family: "IBM Plex Mono", Consolas, monospace;
  padding: 16px;
  margin: 0;
  background: #fff;
  color: #111;
  box-sizing: border-box;
}

.site-title {
  margin: 0 0 12px;
  font-size: 1.5rem;
  text-transform: lowercase;
  font-weight: 400;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.book-item {
  flex: 0 1 calc(50% - 10px);
  max-width: 200px;
  border: 1px solid black;
  padding: 10px;
  background: #fff;
  display: block;
  min-height: 120px;
  height: min-content;
}

.book-link { display: block; text-decoration: none; color: inherit; height:100%; }

.book-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  display:block;
  margin-bottom: 8px;
}

.book-title { margin: 0; font-size: 1rem; font-weight: normal;}

.breadcrumbs { font-size: 0.95rem; margin-bottom: 10px; font-weight: 500;}
.breadcrumbs .crumb { color: #003399; text-decoration: none; }
.breadcrumbs .crumb-current { color: #000; }

.poem-text { white-space: pre-wrap; line-height: 1.55; font-size: 1rem; }

@media (max-width:420px) {
  .book-item { flex-basis: 40%; max-width: 40%; }
}

.poem-canvas-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 16px 0 5px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 0;
}

#colors-text{
    font-size:0.7rem;
    margin-bottom: 10px;
}

#poem-grid-canvas {
  display: block;
  width: 100%;
  height: auto;
  background: transparent;
}

.poem-thumbnail {
  width: 150px;
  height: 150px;
  display: block;
}

.poem-tiles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.poem-tile {
  width: 150px;
  padding:2px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.poem-tile:hover{
    outline: 1px solid #555;
    font-style: italic;
}

.poem-thumbnail {
  width: 150px;
  height: 150px;
  display: block;
}

.poem-title {
  font-size: 0.9rem;
  color:#333;
}

@media (max-width: 768px) {
  .poem-tiles {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .poem-tile {
    width: 120px;
  }
  
  .poem-thumbnail {
    width: 120px;
    height: 120px;
  }
}