{# src/index.njk #}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>eecummings</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  >

  <link rel="stylesheet" href="{{ '/public/assets/style.css' | url }}" />
</head>

<body>
  <main>
    <h1 class="site-title">eecummings; syntax of things</h1>

    {% if books and books.length %}
      <ul class="book-list">
        {% for book in books %}
          <li class="book-item">
            <a class="book-link" href="{{ ('/books/' ~ book.slug ~ '.html') | url }}">
              <img
                class="book-cover"
                src="https://cummings.ee/assets/img/{{ book.slug }}.webp"
                alt="Cover of {{ book.title }}"
                loading="lazy"
                onerror="this.style.display='none'"
              />
              <div class="book-title-wrap">
                <h2 class="book-title">{{ book.title }}</h2>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <p>This site uses Ben Welsh's <a href = "https://cummings.ee/" target = "_blank">open-source cummings archive</a>. I render each poem in these books as a <a href = "https://en.wikipedia.org/wiki/Dot_plot_(bioinformatics)" target = "_blank">dot plot</a> (more popularly used to map repeated sequences in DNA). Every word corresponding to a web colour, appears as a circle of that colour.</p>
  </main>

  <script src="{{ '/public/assets/site.js' | url }}" defer></script>
</body>
</html>
